@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-blue: 49, 119, 242;
        --color-orange: 255, 93, 23;
        --color-black: 43, 43, 43;
        --color-grey: 100, 100, 100;
        --color-white: 255, 255, 255;
        --color-hover: 255, 131, 23;
    }
}

body {
    background: rgb(var(--color-white));
    color: rgb(var(--color-black));
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: var(--font-poppins);
}

* {
    box-sizing: border-box;
    font-weight: 500;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.roboto {
    font-family: var(--font-roboto);
}

.poppins {
    font-family: var(--font-poppins);
}

a,
a:hover {
    cursor: pointer;
    transition: color 0.3s;
}

a:disabled {
    cursor: default;
}

h1,
.h1 {
    font-family: var(--font-poppins);
    font-size: 3.2rem;
    line-height: 4.6rem;
    font-weight: 700;
}

h2,
.h2 {
    font-family: var(--font-poppins);
    font-size: 2.8rem;
    line-height: 3.4rem;
    text-transform: uppercase;
    font-weight: 700;
}

h3,
.h3 {
    font-family: var(--font-poppins);
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;
    text-transform: none;
}

h4,
.h4 {
    font-family: var(--font-poppins);
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

p,
.p {
    font-family: var(--font-poppins);
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
}

@media (max-width: 992px) {
    html,
    body {
        font-size: 57.5%;
    }
}

@media (max-width: 880px) {
    html,
    body {
        font-size: 52.5%;
    }
}

@media (max-width: 810px) {
    html,
    body {
        font-size: 47.5%;
    }
}

@media (max-width: 730px) {
    html,
    body {
        font-size: 42.5%;
    }
}
@media (max-width: 660px) {
    html,
    body {
        font-size: 37.5%;
    }
}

@media (max-width: 590px) {
    html,
    body {
        font-size: 32.5%;
    }
}

@media (max-width: 480px) {
    html,
    body {
        font-size: 62.5%;
    }
}

/* styled radio */

input[type="radio"] {
    appearance: none;
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid rgb(var(--color-grey));
    border-radius: 100%;
    background-color: rgb(var(--color-white));
}

input[type="radio"]:checked {
    background-color: rgb(var(--color-orange));
    border: 0.2rem solid rgb(var(--color-orange));
}

.global-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    width: 100%;
}

.info-cards > div:nth-child(odd) {
    justify-content: flex-start;
}
.info-cards > div:nth-child(even) {
    justify-content: flex-end;
}
@media (max-width: 480px) {
    .info-cards > div:nth-child(odd) {
        justify-content: center;
    }
    .info-cards > div:nth-child(even) {
        justify-content: center;
    }
}

.info-cards > div:nth-child(odd) {
    position: relative;
}
.info-cards > div:nth-child(odd)::after {
    position: absolute;
    right: 0;
    content: "";
    z-index: 1;
    width: 0.1rem;
    height: 3.2rem;
    background-color: rgb(var(--color-grey));
}

.advantages-cards > div:nth-child(1),
.advantages-cards > div:nth-child(2) {
    border-top: 0.1rem solid rgb(var(--color-grey));
}
@media (max-width: 480px) {
    .advantages-cards > div:nth-child(2) {
        border-top: none;
    }
}
.advantages-cards > div {
    border-bottom: 0.1rem solid rgb(var(--color-grey));
}

.scrolled-container::-webkit-scrollbar {
    display: none;
}
